body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(253, 222, 243);
}

div{
    background-color: rgb(rgb(253, 222, 243), black, pink);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80x;
    border-radius: 15px;
    color: white;
}